.app-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.receive-items-container button {
    width: 63px;
    height: 28px;
    border-radius: 4px;
    border: none;
    background-color: #818384;
    margin: 4px;
}